<div class="container-fluid">
  <h2>Booking App - Reservations</h2>
  
  <div class="table-responsive">
    <table data-toggle="table"  data-row-style="rowStyle" class="table table-bordered">
      <thead>
        <tr>
          <th>Horário</th>
          <% I18n.t(:"date.day_names").each do |day_name| %>
            <th> <%= day_name %> </th>
          <% end %>
        </tr>
        </thead>
      <tbody>
        <div id="reservation-form" style="display:none;"></div>
        <% @all_slots.each do |slots| %>
          <tr>
            <td> <%= slots.first %></td>
            <% slots.last.each do |date| %>
              <td>
                <% if @slots_booked[date.to_s].present? %>
                  <% if @slots_booked[date.to_s].user == current_user %>
                    <%= link_to t("reservation.cancel"), reservation_path(@slots_booked[date.to_s].id), class: "cancel_booking" %>
                  <% else %>
                    <%= t("reservation.unavailable", name: @slots_booked[date.to_s].user.name) %>
                  <% end %>
                <% else %>
                  <%= link_to t("reservation.available"), reservations_path, class: "create_booking", booked_at: date %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>